# Authentication
tenancy_ocid         = "<tenancy_ocid>"
user_ocid            = "<user_ocid>"
fingerprint          = "<fingerprint>"
private_key_path     = "<private_key_path>"
token            = "<Nirmata_token>"

# Region
region = "<region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

# Networks
vcn_ocid                     = "<VCN_OCID>"
my_api_endpoint_subnet_ocid  = "<Api_endpoint_ocid>"
my_pods_nodepool_subnet_ocid = "<Nodepool_ocid>"
pods_subnet_ocid             = "<pod_cidr_ocid>"
